/* Establecer el color de fondo en el modo claro (light mode) */
html {
    
    background-color: #F7F9FC; /* Fondo claro */
    color: black; /* Color de texto oscuro */
  }
  
  /* Estilo para el modo oscuro (dark mode) */
  html.dark {
    background-color: #000000; /* Fondo oscuro */
    color: white; /* Color de texto claro */
  }
  

  @keyframes spin-slow {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .animate-spin-slow {
    animation: spin-slow 8s linear infinite;
  }
  
  .animate-bounce-slow {
    animation: bounce 3s infinite;
  }
  
  .bg-grid-pattern {
    background-image: 
      linear-gradient(to right, rgba(255,255,255,.05) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(255,255,255,.05) 1px, transparent 1px);
    background-size: 40px 40px;
  }
  


